<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>{{title}} · Aquester Invoice</title>
  <link rel="stylesheet" href="/public/styles.css"/>
</head>
<body>
  {{> nav}}
  {{> flash}}
  <main class="container">
    {{{body}}}
  </main>
</body>
</html>
